<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.oiekjr.alfred.github-repositories</string>
	<key>connections</key>
	<dict>
		<key>12ADDA7F-0D2D-461E-B28C-C969518ACB45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92FB948A-FD02-48DC-88F5-7DB9837579DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9222169B-4C76-4290-8F2F-91B789BB93A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB8BF41D-4F10-4AF3-BFEF-7DC9C2B5276A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9CB5B685-E973-4D37-A1DF-AAF7D8433EAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92FB948A-FD02-48DC-88F5-7DB9837579DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2573976D-093D-493D-9784-C0EC498FBB08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9222169B-4C76-4290-8F2F-91B789BB93A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CB2F023-FE28-414D-A478-7C8BC3ADCB02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB8BF41D-4F10-4AF3-BFEF-7DC9C2B5276A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>633C46C7-E8BF-40E0-AFCF-E6E445379DAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CB5B685-E973-4D37-A1DF-AAF7D8433EAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>585B72E8-388B-445E-A115-97CA1D757DAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>oiekjr</string>
	<key>description</key>
	<string>Navigate GitHub repositories, projects, issues, and pull requests.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Navigator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading GitHub results…</string>
				<key>script</key>
				<string>./github-repositories "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search repositories and projects or open GitHub activity pages</string>
				<key>title</key>
				<string>Navigate GitHub</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12ADDA7F-0D2D-461E-B28C-C969518ACB45</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>92FB948A-FD02-48DC-88F5-7DB9837579DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2573976D-093D-493D-9784-C0EC498FBB08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>login</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9222169B-4C76-4290-8F2F-91B789BB93A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>helper_path="$(/usr/bin/printf '%s' '{var:login_helper}' | /usr/bin/base64 -D)" &amp;&amp; "$helper_path" --authentication-helper login</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>6CB2F023-FE28-414D-A478-7C8BC3ADCB02</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>login-projects</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EB8BF41D-4F10-4AF3-BFEF-7DC9C2B5276A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>helper_path="$(/usr/bin/printf '%s' '{var:login_helper}' | /usr/bin/base64 -D)" &amp;&amp; "$helper_path" --authentication-helper login-projects</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>633C46C7-E8BF-40E0-AFCF-E6E445379DAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>authorize-projects</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9CB5B685-E973-4D37-A1DF-AAF7D8433EAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>helper_path="$(/usr/bin/printf '%s' '{var:login_helper}' | /usr/bin/base64 -D)" &amp;&amp; "$helper_path" --authentication-helper authorize-projects</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>585B72E8-388B-445E-A115-97CA1D757DAD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use the “gh” keyword to navigate GitHub.

• gh &lt;text&gt;: search accessible repositories
• gh issue / gh issues: open GitHub Issues
• gh pr / gh prs: open GitHub Pull requests
• gh project / gh projects [&lt;text&gt;]: list or search accessible open Projects

Repository and Project owner avatars are cached privately in Alfred’s workflow cache and refreshed after seven days.

Requirements:
• Alfred 5 with Powerpack
• GitHub CLI 2.60.0 or later
• An authenticated GitHub.com account

If authentication or read-only Projects access is required, select the displayed action, complete the GitHub CLI flow in Terminal, and retry the same “gh” input.</string>
	<key>uidata</key>
	<dict>
		<key>12ADDA7F-0D2D-461E-B28C-C969518ACB45</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>92FB948A-FD02-48DC-88F5-7DB9837579DF</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>2573976D-093D-493D-9784-C0EC498FBB08</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>9222169B-4C76-4290-8F2F-91B789BB93A2</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>6CB2F023-FE28-414D-A478-7C8BC3ADCB02</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>EB8BF41D-4F10-4AF3-BFEF-7DC9C2B5276A</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>633C46C7-E8BF-40E0-AFCF-E6E445379DAA</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>9CB5B685-E973-4D37-A1DF-AAF7D8433EAB</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>585B72E8-388B-445E-A115-97CA1D757DAD</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/oiekjr/alfred-workflows</string>
</dict>
</plist>
